mkdocs==1.4.2
mkdocs-material==9.5.32
mkdocs-git-revision-date-localized-plugin==1.1.0
mkdocs-minify-plugin==0.6.1
mkdocs-exclude==1.0.2
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability